<head th:fragment="head" >
    <meta http-equiv="Content-Type" content="textml; charset=UTF-8" />
    <meta charset="UTF-8">
    <title>snail</title>
    <link rel="stylesheet" type="text/css" th:href="@{/themes/bootstrap/easyui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/themes/icon.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/themes/color.css}" />
    <script type="text/javascript" th:src="@{/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/locale/easyui-lang-zh_CN.js}"></script>
</head>
